<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ourLicense</title>
        <style>
        .column {
          float: left;
          width: 50%;
        }
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        body{
            font-family: "Courier New";
            margin: 0;
            background: #f0f7f4;
        }
        nav{
            background: #172840;
            padding: 20px 10px;
        }
        nav ul{
            max-width: 100vh;
            margin: 0 auto;
            padding: 0;
        }
        nav li{
            list-style-type: none;
            display: inline-block;
            margin: 0 10px 0 0;
        }
        nav a{
            font-family: "Courier New";
            color: #fff;
            font-weight: bolder;
            font-size: 12pt;
            background: #F26E00;
            text-decoration: none;
            padding: 5px;
            display: block;
            border-radius: 12px;
        }
        main, header{
            font-size: 12pt;
            max-width: 960px;
            margin: 30px auto;
            padding: 0 10px;
            color: #333;
        }
        .nav-btn{
            color: #fff;
            text-decoration: none;
            font-size: 16px;
            padding: 10px;
            background: #f56600;
            border-radius: 12px;
            box-shadow: 0 9px #999;
            cursor: pointer;
        }
        .nav-btn:hover {
          background-color: #ad4800
        }
        .nav-btn:active {
          background-color: #ad4800;
          box-shadow: 0 5px #999;
          transform: translateY(4px);
        }
        .box{
          border:5px solid #f56600;
          background: #172840;
          color: #fff;
          border-radius: 15px;
          font-size: 45px;
        }
        .box2{
          border:3px solid #522d80;
          background: #f56600;
        }
        .logo
        {
          float: left;
          background-color: #172840;
          padding: 20px;
          color: white;
          font-size: 34px;
        }
        .footer {
           position: fixed;
           left: 0;
           bottom: 0;
           width: 100%;
           background-color: #383a3d;
           color: white;
           text-align: center;
        }
        p.serif {
          font-family: "Arial Black", Times, serif;
          color: #383a3d;
          font-size: 45px;
        }
        p.sans {
          font-family: "Arial Black", Times, serif;
          color: white;
          font-size: 18px;
        }
        .nsf
        {
          float: right;
          background-color: #172840;
          color: white;
        }
        </style>
          <div class="logo"><a> iRESOLVE &#8482; </a></div>
          <img class="nsf" src="https://www.nsf.gov/images/logos/NSF_4-Color_bitmap_Logo.png" alt="nsf" style="width:8vh;height:8vh;">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/" class="nav-btn">Homepage</a></li>
                <% if (user) { %>
                <li><a href="/section/1dry" class="nav-btn">Begin To Reason</a></li>
                <li><a href="/profile" class="nav-btn">Profile</a></li>
                <li><a href="/auth/logout" class="nav-btn">Log out</a></li>
                <% } else { %>
                <li><a href="/auth/login" class="nav-btn">Login</a></li>
                <% } %>
            </ul>
        </nav>

          <main>
              <p>BSD 3-Clause License
              <br><br>
              Copyright (c) 2019, RESOLVE Software Research Group (RSRG)
              All rights reserved.
              <br><br>
              Redistribution and use in source and binary forms, with or without
              modification, are permitted provided that the following conditions are met:
              <br><br>
              &nbsp* Redistributions of source code must retain the above copyright notice, this
                list of conditions and the following disclaimer.
                <br><br>
              &nbsp* Redistributions in binary form must reproduce the above copyright notice,
                this list of conditions and the following disclaimer in the documentation
                and/or other materials provided with the distribution.
                <br><br>
              &nbsp* Neither the name of the copyright holder nor the names of its
                contributors may be used to endorse or promote products derived from
                this software without specific prior written permission.
                <br><br>
              THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
              AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
              IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
              DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
              FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
              DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
              SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
              CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
              OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
              OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
            </p>
          </main>
          <div class="footer">
            <p>Copyright © 2019, RESOLVE Software Research Group (RSRG). All rights reserved.
              The use and distribution terms for this software are covered by the <br>BSD 3-clause license
              which can be found <a href="/profile/license" style="color:orange">License</a>.
              By using this software in any fashion, you are agreeing to be bound by the terms of this license.</p>
            <p>Last Updated 15 August, 2019 12:00:00 PM by Andrew Wolstenholme</p>
          </div>
    </body>
</html>
