<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>updateProfile</title>
        <style>
        body{
            font-family: "Courier New";
            margin: 0;
            background: #f0f7f4;
        }
        nav{
            background: #172840;
            padding: 20px 10px;
        }
        nav ul{
            max-width: 100vh;
            margin: 0 auto;
            padding: 0;
        }
        nav li{
            list-style-type: none;
            display: inline-block;
            margin: 0 10px 0 0;
        }
        nav a{
            font-family: "Courier New";
            color: #fff;
            font-weight: bolder;
            font-size: 12pt;
            background: #F26E00;
            text-decoration: none;
            padding: 5px;
            display: block;
            border-radius: 12px;
        }
        main, header{
            font-size: 16pt;
            max-width: 100vh;
            margin: 30px auto;
            padding: 0 10px;
            color: #333;
        }
        main img{
            width: 40px;
            margin-right: 10px;
            position: relative;
            top: 12px;
        }
        main p{
            display: inline-block;
        }
        .update-btn{
            color: #fff;
            font-weight: bolder;
            text-decoration: none;
            font-size: 24px;
            padding: 10px;
            background: #f56600;
            float: left;
            border-radius: 12px;
            box-shadow: 0 9px #999;
            cursor: pointer;
        }
        .update-btn:hover {
          background-color: #ad4800
        }

        .update-btn:active {
          background-color: #ad4800;
          box-shadow: 0 5px #999;
          transform: translateY(4px);
        }
        .nav-btn{
            color: #fff;
            text-decoration: none;
            font-size: 16px;
            padding: 10px;
            background: #f56600;
            border-radius: 12px;
            box-shadow: 0 9px #999;
            cursor: pointer;
        }
        .nav-btn:hover {
          background-color: #ad4800
        }
        .nav-btn:active {
          background-color: #ad4800;
          box-shadow: 0 5px #999;
          transform: translateY(4px);
        }
        .box{
          border:5px solid #f56600;
          background: #172840;
          color: #fff;
          border-radius: 15px;
        }
        .logo
        {
          float: left;
          background-color: #172840;
          padding: 20px;
          color: white;
          font-size: 34px;
        }
        .footer {
           position: fixed;
           left: 0;
           bottom: 0;
           width: 100%;
           background-color: #383a3d;
           color: white;
           text-align: center;
        }
        .nsf
        {
          float: right;
          background-color: #172840;
          color: white;
        }
    </style>
      <div class="logo"><a> iRESOLVE &#8482; </a></div>
      <img class="nsf" src="https://www.nsf.gov/images/logos/NSF_4-Color_bitmap_Logo.png" alt="nsf" style="width:8vh;height:8vh;">
    </style>
        </style>
    </head>
    <body>
        <nav>
          <ul>
              <li><a href="/" class="nav-btn">Homepage</a></li>
              <% if (user) { %>
              <li><a href="/section/1dry" class="nav-btn">Begin To Reason</a></li>
              <li><a href="/profile" class="nav-btn">Profile</a></li>
              <li><a href="/auth/logout" class="nav-btn">Log out</a></li>
              <% } else { %>
              <li><a href="/auth/login" class="nav-btn">Login</a></li>
              <% } %>
          </ul>
        </nav>
        <header>
        </header>
        <main>
          <div class = "box" align = "center" >
              <h1>Update Profile Information</h1>
          </div>
          <br>
          Submit each category below seperately<br><br>


              <form action = "/profile/newUser/name" method = "POST">
              Preferred First Name: <input type = "text" name = "firstName" placeholder="ex: Andrew">
              <input type = "submit" name = "submit" value = "Update Name" style="float: right;">
              </form>

              <br>
              <form action = "/profile/newUser/school" method = "POST">
                Your School Name: <select name="schoolname">
                  <option value="Other">Other</option>
                  <option value="High School">High School</option>
                  <option value="Clemson">Clemson</option>
                  <option value="Florida Atlantic">Florida Atlantic</option>
                  <option value="Indiana University Southern">Indiana University Southern</option>
                </select>
                <input type = "submit" name = "submit" value = "Update School" style="float: right;">
              </form>

                <br>

              <form action = "/profile/newUser/year" method = "POST">
                Your Graduation Year: <input type = "number" name = "year" value="2021" min="1950" max="2030" >
              <input type = "submit" name = "submit" value = "Update Graduation" style="float: right;">
              </form>

              <br>

              <form action = "/profile/newUser/class" method = "POST" >
                Your CPSC Class: <select name="class">
                  <option value="0000">Other</option>
                  <option value="0000">None</option>
                  <option value="1010">1010</option>
                  <option value="1020">1020</option>
                  <option value="1060">1060</option>
                  <option value="1070">1070</option>
                  <option value="2070">2070</option>
                  <option value="2120">2120</option>
                  <option value="2150">2150</option>
                  <option value="2310">2310</option>
                  <option value="3300">3300</option>
                  <option value="3600">3600</option>
                  <option value="3270">3270</option>
                  <option value="3520">3520</option>

                </select>
                <input type = "submit" name = "submit" value = "Update Class" style="float: right;">
              </form>

                <br>

          <a class = "update-btn" href="/profile">Go Back To Profile</a>
        </main>
        <div class="footer">
          <p>Copyright © 2019, RESOLVE Software Research Group (RSRG). All rights reserved.
            The use and distribution terms for this software are covered by the <br>BSD 3-clause license
            which can be found <a href="/profile/license" style="color:orange">License</a>.
            By using this software in any fashion, you are agreeing to be bound by the terms of this license.</p>
          <p>Last Updated 15 August, 2019 12:00:00 PM by Andrew Wolstenholme</p>
        </div>
    </body>
</html>
