#right .header {
    background: #f56600;
    border: 6px solid #383a3d;
    font-size: 30pt;
}
#right .footer {
  border: 6px solid #383a3d;
  background: #f56600;
}

#right .headette, #right .footette, #right .footetteDisabled {
    background: #BEBEBE;
    border-left: 6px solid #383a3d;
    border-right: 6px solid #383a3d;

}

#editor {
    width: 100%;

    box-sizing: border-box;
    border: 6px solid #383a3d;
}

#right table {
    text-align: center;
    vertical-align: middle;

    font-family: "Courier New";
    color: ghostwhite;
    font-weight: bolder;
}

#right .footer table {
    font-size: 20pt;
}

#right .footette:hover, #right .headette.button:hover {
    background: darkgrey;
    cursor: pointer;
}

#right .footetteDisabled {
    background: #559060;
}

#right .footetteDisabled table {
    color: #68B080;
}
#right .prev {
    float: left;
    background: #172840;
    width: 20%;
    height: 75%;
    border-radius: 25px;
    padding: 10px;
    box-sizing: border-box;
    margin:5px;
    box-shadow: 0 9px #999;
    text-align:center;
}
#right .next {
    float: left;
    background: #172840;
    width: 20%;
    height: 75%;
    border-radius: 25px;
    padding: 10px;
    box-sizing: border-box;
    margin:5px;
    box-shadow: 0 9px #999;
    text-align:center;
}
#right .mid {
    float: right;
    background: #172840;
    width: 50%;
    height: 75%;
    border-radius: 25px;
    padding: 10px;
    box-sizing: border-box;
    margin:5px;
    box-shadow: 0 9px #999;
    text-align:center;
}
#right .prev:hover, #right .next:hover, #right .mid:hover {
    background: #172840;
    cursor: pointer;
}

#right .prev:active, #right .next:active, #right .mid:active {
    background: #172840;
    cursor: pointer;
    transform: translateY(4px);
    box-shadow: 0 5px #999;
}

/* VC Markers Colors */
.vc_proved{
    box-sizing: border-box;
    position:absolute;
    background: lightgreen;
    opacity: 0.3;
    pointer-events: auto;
    z-index:5000;
}

.vc_proved:hover{
    background: green;
    opacity: 0.3;
}

.vc_failed{
    box-sizing: border-box;
    position:absolute;
    background: palevioletred;
    opacity: 0.3;
    pointer-events: auto;
    z-index:5000;
}

.vc_failed:hover{
    background: red;
    opacity: 0.3;
}
